@model Parcial1.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdJugador" class="control-label"></label>
                <select asp-for="IdJugador" class ="form-control" asp-items="ViewBag.IdJugador"></select>
            </div>
            <div class="form-group">
                <label asp-for="EstadoPedido" class="control-label"></label>
                <input asp-for="EstadoPedido" class="form-control" />
                <span asp-validation-for="EstadoPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPedido" class="control-label"></label>
                <input asp-for="TotalPedido" class="form-control" />
                <span asp-validation-for="TotalPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPago" class="control-label"></label>
                <input asp-for="MetodoPago" class="form-control" />
                <span asp-validation-for="MetodoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionEnvio" class="control-label"></label>
                <input asp-for="DireccionEnvio" class="form-control" />
                <span asp-validation-for="DireccionEnvio" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
