@model Parcial1.Models.Juego

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Juego</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdJuego" />
            <div class="form-group">
                <label asp-for="FechaJuego" class="control-label"></label>
                <input asp-for="FechaJuego" class="form-control" />
                <span asp-validation-for="FechaJuego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoJuego" class="control-label"></label>
                <input asp-for="TipoJuego" class="form-control" />
                <span asp-validation-for="TipoJuego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioCarton" class="control-label"></label>
                <input asp-for="PrecioCarton" class="form-control" />
                <span asp-validation-for="PrecioCarton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremioMayor" class="control-label"></label>
                <input asp-for="PremioMayor" class="form-control" />
                <span asp-validation-for="PremioMayor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremiosMenores" class="control-label"></label>
                <input asp-for="PremiosMenores" class="form-control" />
                <span asp-validation-for="PremiosMenores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModificacion" class="control-label"></label>
                <input asp-for="FechaModificacion" class="form-control" />
                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />

                <a asp-action="Index" class="btn btn-secondary">Regresar</a>

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
