@model Parcial1.Models.ConfiguracionPromocion

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Configuracion de Promocion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdConfiguracionPromocion" />
            <div class="form-group">
                <label asp-for="IdPromocion" class="control-label"></label>
                <select asp-for="IdPromocion" class="form-control" asp-items="ViewBag.IdPromocion"></select>
                <span asp-validation-for="IdPromocion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDescuento" class="control-label"></label>
                <input asp-for="TipoDescuento" class="form-control" />
                <span asp-validation-for="TipoDescuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDescuento" class="control-label"></label>
                <input asp-for="ValorDescuento" class="form-control" />
                <span asp-validation-for="ValorDescuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequisitosAplicacion" class="control-label"></label>
                <input asp-for="RequisitosAplicacion" class="form-control" />
                <span asp-validation-for="RequisitosAplicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModificacion" class="control-label"></label>
                <input asp-for="FechaModificacion" class="form-control" />
                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />

                <a asp-action="Index" class="btn btn-secondary">Regresar</a>

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
